body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 20px;
}

button:hover {
    background-color: #c2c2c2;
    border-radius: 5px;
}

button {
    border-radius: 3px;
}